/* General */

* {
  box-sizing: border-box;
  font-family: Raleway;
}

html, body, nav, ul, li, a, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #f18e1e;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 50px;
  font-weight: 400;
}

h3 {
  font-size: 36px;
  font-weight: 200;
}

p {
  font-size: 22px;
  font-weight: 200;
  max-width: 1000px;
}

.content-header {
  height: 150px;
}


/* Header */

nav {
  background-color: rgba(76, 15, 109, 0.6);
  filter: alpha(opacity=50);
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 0;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  font-size: 24px;
  color: #fff;
}

nav ul li a {
  color: #fff;
}

nav ul li a:visited {
  color: #fff;
}

nav ul li:first-child {
  margin-right: auto;
}

.nav-link {
  align-self: center;
  line-height: 50px;
  height: 50px;
  margin: 0px 15px;
}

.nav-link a:hover {
  color: #f18e1e;
}

.logo {
  width: 150px;
}


/* Top Banner */

.banner {
  height: 900px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./images/banner.jpg");
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*
  box-shadow: inset 0px -5px 5px 0px rgba(255,255,255,1);
  -webkit-box-shadow: inset 0px -5px 5px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px -5px 5px 0px rgba(255,255,255,1);
  */
}

.banner-content h1 {
  width: 100%;
}

.banner-content button {
  height: 60px;
  width: 150px;
  border: 3px solid white;
  border-radius: 2px;
  background-color: rgba(255,255,255,0);
  margin: 20px;
  cursor: pointer;
}

.banner-content button:hover {
  background-color: rgba(241, 142, 30, 0.8);
  border: none;
  transition: all .1s;
}

.banner-content button a {
  color: #fff;
  font-size: 30px;
  font-weight: 300px;
}


/* Manifesto */

.manifesto-content {
  height: 400px;
  padding: 90px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.manifesto-content p {
  margin: 0 0 0 132px
}

.manifesto-header {
  align-self: flex-start;
}


/* About */

.about-content {
  height: 600px;
  background-color: #351546;
  color: #fff;
  display: flex;
  padding: 0 220px;
}

#about-image {
  align-self: flex-end;
  width: 600px;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0 20px 20px;
}

.about-header {
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
}

/* Workshops */

.workshops-content {
  height: 360px;
  padding: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workshops-content p {
  margin: 0 0 0 132px;
}


.workshops-header {
  margin-right: auto;
}


/* Enneagram */

.enneagram-content {
  height: 600px;
  background-color: #351546;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 270px;
}

.enneagram-content h2 {
  margin-bottom: 20px;
}

#enneagram-image {
  height: 350px;
  margin-left: 80px;
}


/* Flow Arts */

.flow-arts-content {
  height: 400px;
  display: flex;
  align-items: center;
}

.flow-arts-content h2 {
  margin-bottom: 20px;
  color: #4f005b;
}

#flow-arts-image {
  height: 100%;
}

.flow-arts-text {
  display: flex;
  flex-direction: column;
  padding: 100px;
}


/* Fire Flow Workshops */

.fire {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
}

.fire-workshop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.fire-workshop-image {
  width: 400px;
  margin-bottom: 20px;
}


/* Gallery */

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-header {
  margin: 40px 20px;
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image {
  width: 33.33%;
}

.gallery-image img {
  width: 100%;
  height: 100%;
}


/* Contact */

.contact {
  background-image: url(./images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  display: flex;
  justify-content: center;
}

.contact-content {
  height: 80%;
  width: 80%;
  background-color: rgba(71, 0, 106, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.contact-header {
  margin: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: flex;
}

#name {
  margin-right: 10px;
}

#email {
  margin-left: 10px;
}

input, textarea {
  background-color: rgba(255,255,255,0);
  border: 2px solid white;
  border-radius: 2px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  width: 100%;
}

input {
  height: 50px;
  margin: 20px 0;
}

input::placeholder, textarea::placeholder {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

textarea {
  height: 140px;
  resize: none;
  outline: none;
}

.contact-form button {
  border-radius: 2px;
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: rgba(255,255,255,0);
  border: 2px solid white;
  color: #fff;
  font-size: 1.3em;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: rgba(241, 142, 30, 0.8);
  border: none;
  transition: all .1s;
}

footer {
    text-align: center;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    height: 60px;
    width: 100%;
    color: #fff;
    background-color: #4c0f6d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer span a:visited {
  color: #fff;
}


/* Thank You Page */

.thank-you {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/contact.jpg);
  background-attachment: fixed;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.thank-you-text {
  background-color: rgba(76, 15, 109, 0.45);
  padding: 20px;
}


/* Mobile Responsive CSS */

.mobile {
  display: none;
}

@media only screen and (max-width: 1360px) and (min-width: 980px) {
  .content-section {
    padding: 80px;
  }

  .about-content {
    height: auto;
  }

  .flow-arts-content {
    padding-bottom: 44px;
  }

  .flow-arts-text {
    padding: 20px
  }

  .flow-arts-text h2 {
    margin: 20px;
  }

  .fire {
    padding: 0;
  }

  .fire-workshop-image {
    width: 100%;
  }

  .fire-workshop p {
    padding: 20px;
  }

}


@media only screen and (max-width: 979px) {

  .manifesto-content {
    padding: 20px;
  }

  .manifesto-content p {
    margin: 0 0 0 100px
  }

  .about-content {
    height: 960px;
    padding: 0 60px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #about-image {
    justify-content: center;
    width: 100%;
  }

  .about-text {
    margin: 0;
  }

  .workshops-content {
    padding: 30px;
  }

  .enneagram-content {
    height: 880px;
    padding: 40px;
  }

  #enneagram-image {
    margin-left: 40px
  }

  .flow-arts-content {
    height: 760px;
    flex-wrap: wrap;
  }

  #flow-arts-image {
    height: auto;
    width: 100%;
  }

  .flow-arts-text {
    padding: 20px;
  }

  .fire {
    flex-wrap: wrap;
  }

  .fire-workshop {
    padding: 20px 0;
  }

  .gallery-content {
    padding-bottom: 40px;
  }

  .gallery-image {
    width: 100%;
  }

}

@media only screen and (max-width: 759px) {

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .banner{
    height: 670px;
  }

  .banner-content button {
    background-color: rgba(76, 15, 109, 0.6);
    border: none;
  }

  .content-header {
    height: 90px;
  }

  .manifesto-content {
    height: 600px;
  }

  .manifesto-content p {
    margin: 0 0 0 28px
  }

  .about-content {
    height: 950px;
    padding: 20px 18px;
  }

  .about-header {
    margin: 0 auto 20px 0;
  }

  .workshops-content {
    padding: 8px;
    height: 560px;
  }

  .workshops-content p {
    margin-left: 28px;
  }

  .enneagram-content {
    height: 1380px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .enneagram-text {
    order: 2;
  }

  #enneagram-image {
    margin-left: 0;
    height: 308px;
  }

  #flow-arts-image {
    margin-top: -22px;
  }

  .flow-arts-text {
    padding: 20px;
  }

  .fire-workshop-image {
    width: 100%;
  }

  .gallery-header {
    margin: 0 0 20px;
  }

  .contact-content {
    width: 90%;
    padding: 10px;
  }

  .contact-header {
    height: 90px;
  }

}

/* Utility Classes */
.visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
