/* General */

* {
  box-sizing: border-box;
  font-family: Dagny;
}

@font-face {
  font-family: Dagny;
  src: url(DagnyOT-Thin.otf)
}

html, body, nav, ul, li, a, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 80px;
  font-weight: 400;
}

h2 {
  font-size: 50px;
  font-weight: 400;
}

p {
  font-size: 22px;
}

.content-header {
  height: 150px;
}


/* Header */

nav {
  background-color: rgba(255,255,255,0);
  filter: alpha(opacity=50);
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 0;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  font-size: 30px;
  color: #fff;
}

nav ul li a {
  color: #fff;
}

nav ul li:first-child {
  margin-right: auto;
}

.nav-link {
  align-self: center;
  line-height: 50px;
  height: 50px;
  margin: 0px 15px;
}


/* Top Banner */

.banner {
  height: 900px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./images/banner.jpg");
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: inset 0px -5px 5px 0px rgba(255,255,255,1);
  -webkit-box-shadow: inset 0px -5px 5px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px -5px 5px 0px rgba(255,255,255,1);
}

.banner-content h1 {
  width: 100%;
}

.banner-content button {
  height: 60px;
  width: 150px;
  border: 3px solid white;
  border-radius: 2px;
  background-color: rgba(255,255,255,0);
  margin: 20px;
}

.banner-content button a {
  color: #fff;
  font-size: 30px;
  font-weight: 300px;
}


/* Manifesto */

.manifesto-content {
  height: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.manifesto-header {
  align-self: flex-start;
}


/* About */

.about-content {
  height: 440px;
  background-color: #4f005b;
  color: #fff;
  display: flex;
}

#about-image {
  flex-basis: 600px;
  align-self: flex-end;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.about-header {
  margin-top: 20px;
  margin-left: auto;
  margin-bottom: 20px;
}

/* Workshops */

.workshops-content {
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}


/* Enneagram */

.enneagram-content {
  height: 400px;
  background-color: #4f005b;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 60px;
}

.enneagram-content h2 {
  margin-bottom: 20px;
}

#enneagram-image {
  height: 300px;
  margin: 60px;
}


/* Flow Arts */

.flow-arts-content {
  height: 400px;
  display: flex;
  align-items: center;
}

.flow-arts-content h2 {
  margin-bottom: 20px;
  color: #4f005b;
}

#flow-arts-image {
  height: 100%;
}

.flow-arts-text {
  display: flex;
  flex-direction: column;
  padding: 40px;
}


/* Fire Flow Workshops */

.fire {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
}

.fire-workshop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.fire-workshop-image {
  width: 400px;
  margin-bottom: 20px;
}


/* Gallery */

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-header {
  margin: 20px;
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image {
  width: 33.33%;
}


/* Contact */

.contact {
  background-image: url(./images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  display: flex;
  justify-content: center;
}

.contact-content {
  height: 80%;
  width: 80%;
  background-color: rgba(71, 0, 106, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.contact-header {
  margin: 40px;
}

.contact-form-wrapper {
  width: 54%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset {
  border: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 0;
}

input, textarea {
  background-color: rgba(255,255,255,0);
  border: 2px solid white;
  border-radius: 2px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  width: 100%;
}

input {
  height: 50px;
  margin: 20px 0;
}

input::placeholder {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

textarea {
  height: 100px;
  resize: none;
  outline: none;
}

.contact-form button {
  border-radius: 2px;
  height: 50px;
  width: 320px;
  text-align: center;
  background-color: rgba(255,255,255,0);
  border: 2px solid white;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: rgba(71, 0, 106, 0.7);
  color: #fff;
  border: none;
}


/* Utility Classes */
.visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
